{% extends "layout.twig" %}

{% block content %}

	<a href="{{ path_for('home') }}">Back to Home</a> 

	<form action="" method="post">
      <fieldset>
        <input name="department_tag" type="text" placeholder="Department Tag">
        <input name="gt_tag" type="text" placeholder="GT Tag">
        <input name="equipment_type_name" type="text" placeholder="Equipment Type Name">
        <input name="status" type="text" placeholder="Status">
        <textarea name="comment" placeholder="Comments..."></textarea>
        <input name="gt_tag" type="text" placeholder="GT Tag">
      </fieldset>

      <fieldset>
      	<legend>Attributes</legend>
      	<input name="name" type="text" placeholder="Attribute key"> | <input name="value" type="text" placeholder="Attribute value">
      </fieldset>
      <input type="submit" class="button">
    </form>
	
{% endblock %}