{% extends "template.html" %}

        {% block content %}

         <h1>{{ param }}</h1>


         	<form class="form-group">
             {% for key, value in data %}

                      <label for="{{key}}">{{key | upper | replace({"_" : " "})}}:</label>
                      <input type="text" class="form-control" id="{{key}}" value="{{value}}">


             {% endfor %}
            </form>

        <a class="btn btn-primary" href="javascript:history.back()" role="button">Submit</a>

        {% endblock %}
