{% extends "template.html" %}

        {% block content %}
         <h1>{{ param }}</h1>
         <div class="table-responsive">
	      <table class="table table-striped">
	        <thead>
	          <tr>
	            <th>Equipment Type</th>
	            <th>Dept. Tag</th>
	            <th>Status</th>
	            <th>Loaned To</th>
	          </tr>
	        </thead>
	        <tbody>

		         {% for item in data %}
		         	<tr>

	         			<td>{{item.item.equipment_type}}</td>
	         			<td>{{item.item.department_tag}}</td>
	         			<td>{{item.item.status}}</td>
	         			<td>{{item.item.loaned_to}}</td>
		         	</tr>
		         {% endfor %}
		    </tbody>
          </table>

        {% endblock %}