{% extends "layout.twig" %}

{% block content %}
	<h1>This is the twig index pageasdfads</h1>
	<a href="{{ path_for("get-add-equipment") }}">Add Equipment</a>
	<a href="{{ path_for("get-add-equipment-type") }}">Add Equipment Type</a>
	
{% endblock %}