<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF8">
        <title>Inventory management</title>
        <!-- Add the usual things here -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
        <!-- <link rel="stylesheet" href="/css/ui-grid.min.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.4/ui-grid.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.4/ui-grid.svg">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.4/ui-grid.ttf">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.4/ui-grid.woff">
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arvo|Nunito+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">


    </head>
    <body>

        <div id="maincontent">
            <div ng-include="templates/partials/header.html"></div>
            <div id="view" ng-view></div>
        </div>

        <script src="/vendor/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>
        <!-- <script src="/vendor/angular-route.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.4/ui-grid.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>


        <script src="/js/app.js"></script>
        <script src="/js/controllers/maincontroller.js"></script>
        <script src="/js/controllers/equipmentsController.js"></script>
        <script src="/js/controllers/newEquipmentsController.js"></script>
        <script src="/js/controllers/authcontroller.js"></script>
        <script src="/js/controllers/HomeController.js"></script>
        <script src="/js/controllers/loanController.js"></script>
        <script src="/js/controllers/newUserController.js"></script>
        <script src="/js/controllers/equipmenttypescontroller.js"></script>
        <script src="/js/controllers/newEquipmentTypesController.js"></script>
        <script src="/js/controllers/editEquipment.js"></script>

        <script src="/js/services/mainService.js"></script>
        <script src="/js/services/apiResourceService.js"></script>
        <script src="/js/services/authService.js"></script>
        <script src="/js/services/authinterceptor.js"></script>

    </body>
</html>
