<!doctype html>  
<html lang="en" ng-app="app">  
    <head>
        <meta charset="UTF8">
        <title>Inventory management</title>
        <!-- Add the usual things here -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
    </head>
    <body>

        <div id="maincontent">
            <div id="view" ng-view></div>
        </div>

        <script src="/vendor/angular.js"></script>
        <script src="/vendor/angular-route.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
        <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>



        <script src="/js/app.js"></script>
        <script src="/js/controllers/maincontroller.js"></script>
        <script src="/js/controllers/equipmentsController.js"></script>
        <script src="/js/controllers/newEquipmentsController.js"></script>
        <script src="/js/controllers/editEquipmentController.js"></script>
        <script src="/js/controllers/authcontroller.js"></script>
        <script src="/js/services/authservice.js"></script>
        <script src="/js/services/authinterceptor.js"></script>
    </body>
</html>