{% extends "template.html" %}

        {% block content %}

         <h1>{{ param }}</h1>
         <div class="table-responsive">
	      <table class="table table-striped">
	        <thead>
	          <tr>
	            <th>Equipment Type</th>
	            <th>Dept.s Tag</th>
	            <th>Status</th>
	            <th>Loaned To</th>
	          </tr>
	        </thead>
	        <tbody>

		         {% for item in data %}
		         	<tr>
		         	{% for col in item %}
		         		{% if col is iterable %}
		         			<td>{{ col | first }}</td>
		         		{% else %}
		         			<td>{{ col }}</td>
		         		{% endif %}

		         		
		         	{% endfor %}
		         	</tr>
		         {% endfor %}
		    </tbody>
          </table>

        {% endblock %}

