<div ng-controller="EquipmentsController">

   <form class="equipment-form" ng-submit="submitEquipmentCreation()">

      <select ng-change="updateEqType()" ng-model="formObj.equipment_type_name" ng-options="item.name as item.name for item in equipmentTypeList"></select>

      <div ng-repeat="label in labels">
         <label>{{ label }}</label>
         <input type="text" ng-model="formObj[label]" placeholder="Enter">
      </div>

      <fieldset ng-repeat="attribute in attrList.attributes track by $index">
         <input type="text" ng-model="attrList.attributes[$index].key" placeholder="Key">
         <input type="text" ng-model="attrList.attributes[$index].value" placeholder="Value">
         <!-- <input value="Remove" type="button" class="remove" ng-show="$index != 0" ng-click="removeAttribute($event, key)"></input> -->
      </fieldset>
     <!--  <input value="Add fields" type="button" class="addfields" ng-click="addNewAttribute($index, key)"></input> -->
      
      <p>{{attrList|json}}</p>


      <button type="submit">Submit</button>
   </form>



<!-- <button ng-click="go('/')">Home</button> -->
<a href="#!/">Home</a>



   <!-- <div id="attributesDisplay">{{ testL }}</div> -->

</div>