


    <div class="container index-div"  ng-controller="HomeController">
       
                <h4 class="text-center">Welcome {{ loggedInUser }}!</h4>


        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 ">
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="list-view">
            <button id='toggleFiltering' ng-click="toggleFiltering()" class="btn btn-success">Toggle Filtering</button>
            <div ui-grid="gridOptions" class="grid"></div>
        </div>
        
    </div>

    {{cleanAttr}}

