<!-- 
<div class="container" ng-controller="HomeController">
	<h1>Inventory Management</h1>
	<h4>Welcome {{ loggedInUser }}!</h4>

	<input ng-model="searchText" ng-change="refreshData()" placeholder="Search...">

	<div ui-grid="gridOptions" class="grid"></div>

	

	<a href="#!/equipments/new">Add Equipment</a>
	<a href="#!/users/new">Add Renter</a>

	<button ng-click="logout()">Logout</button>

	<!-- <a href="#!/equipments">All Equipments</a>
	<a href="#!/equipments/new">New Equipment</a> -->

	<!-- <button ng-click="logout()">Logout</button> -->
<!-- </div> -->



    <div class="container index-div"  ng-controller="HomeController">
       
                <h4 class="text-center">Welcome {{ loggedInUser }}!</h4>


        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 ">

                <input class="search-bar form-control center-block" id="search" ng-model="searchText" ng-change="refreshData()" placeholder="Search...">
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="list-view">

            <!-- <div class="col-sm-12 action-nav">
            	<a class="pure-button" href="#!/equipments/new">Add Equipment</a>
                <a class="pure-button" href="#!/users/new">Add Renter</a>
            </div>
 -->                

 			


            <button id='toggleFiltering' ng-click="toggleFiltering()" class="btn btn-success">Toggle Filtering</button>
            <div ui-grid="gridOptions" class="grid"></div>
        </div>
        
    </div>

    {{cleanAttr}}

<!-- <button ng-click=\"hc.deleteEquipment(row)\">Delete</button> -->