    <div class="container-fluid index-div" ng-controller="LoanController">
        <h1>Loan to {{postBody.username}}</h1>
		
    	<div class="col-sm-6 form-group">

    		<h3>Select a due date</h3>
    		<md-datepicker ng-model="dueDate" ng-change="dueDateCtrl()" md-placeholder="Enter date" md-open-on-focus required></md-datepicker>
    	</div>
    	<div class="col-sm-6 form-group">
    	</div>
        <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
        <button ng-click="submitLoan()" class="btn btn-success">Submit</button>
    </div>



