    <div class="container-fluid index-div" ng-controller="LoanController">
        <h1>Create Loan</h1>
        <div class="col-sm-12" class="list-view">


            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a class="pure-menu-link" href="#!/equipments/new">Add Equipment</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="#!/users/new">Add Renter</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="#!/equipmenttypes">Equipment Types</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="#!/users">Users</a></li>
                </ul>
            </div>

            <input class="search-bar" ng-model="searchText" ng-change="refreshData()" placeholder="Search...">
            <button id='toggleFiltering' ng-click="toggleFiltering()" class="btn btn-success">Toggle Filtering</button>
            <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
        </div>
    </div>


    {{cleanAttr}}

