    <div class="container-fluid index-div" ng-controller="LoanController">
        <h1>Loan to {{postBody.username}}</h1>
        <div class="col-sm-12" class="list-view">

            <!-- <input class="search-bar" ng-model="searchText" ng-change="refreshData()" placeholder="Search..."> -->
<!--             <button id='toggleFiltering' ng-click="toggleFiltering()" class="btn btn-success">Toggle Filtering</button>
 -->            <button ng-click="submitLoan()" class="btn btn-success">Submit</button>
            <div ui-grid="gridOptions" ui-grid-selection class="grid">{{postBody|json}}</div>
        </div>
    </div>



